# Virtual environment
venv/
env/
*.venv

.env.example

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large model files (optional - see note below)
# *.pkl

# Logs
*.log
ai-service/models/cosine_similarity.pkl

imdb_reviews.csv

imdb_reviews.csv
venv/
